# OS files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/

# PHP dependencies
vendor/

# Environment files
.env

# Build output
dist/
build/

# Logs
*.log

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.bak

*.txt